th{
    background-color: darkgreen;
    color: white;
}

td{
    padding: 3px;
}

table{
    border: 2px dashed blueviolet;
}


.styled-table th.landmark {
    width: 25%;
}

.styled-table th.significance {
    width: 40%;
}

tr:hover{
    background-color: brown;
    color: blue;
}

td:hover{
    background-color: aqua;
    color: yellow;
}